.table2 {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.customer {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 45%;
  }
  .customer td, .customer th {
    border: 1px solid  #626567 ;
    padding: 8px;
  }
  
//   #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customer tr:hover {background-color:  #424949 ;}
  
  .customer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #34495e ;
    color: white;
  }