.header-container {
  height: 70px;
  background-color: #17202A;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .header-item {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-title {
      font-size: 28px;
      color: #ecf0f1;
    }
    .header-subtitle {
      color:  #f9e79f ;
      font-size: 14px;
    }
  }
}
