.sidebar-container {
    width: 40px;
    background-color: #17202A ;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 80px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sidebar-icon {
        padding-top: 20px;
        font-size: 20px;
        cursor: pointer;
        color: #a6acaf;
        transition: 0.2s;
    }
    .sidebar-icon:hover {
        font-size: 28px;
        color: #F4F6F7
    }
}